@font-face {
    font-family: "Fira";
    src: url(./fonts/FiraSans-Thin.ttf);
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Fira";
    src: url(./fonts/FiraSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Fira";
    src: url(./fonts/FiraSans-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Fira";
    src: url(./fonts/FiraSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Fira";
    src: url(./fonts/FiraSans-ExtraBold.ttf);
    font-weight: 800;
    font-style: normal;
}

* {    
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #161415;   
    font-family: 'Fira';
    font-weight: 400;
    font-style: normal;
    color: white;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-weight: 400;
}
h3 {
    margin: 0;
    padding: 0;
    font-weight: 100;
}
.navbar { 
    position: fixed;
    width: 100%;
    max-width: 1200px;
    display: flex;    
    justify-content: space-between;
    align-items: center;
    background-color: rgba(2, 0, 1, 0.7); 
}
.site-title {
    font-size: 1.5rem;
    margin-right: auto;
    padding: 0.5rem;
}
.site-title a {
    text-decoration: none;
    color: white;
}
.main-div {
    display: flex;
    min-height: 100vh;
}
.text-div {        
    flex-direction: column;
}
.parText p {
    padding: 0rem 2rem;
    text-align: justify;
}
.navbar-links {    
    margin-left: auto;
}
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgba(2, 0, 1, 0.1);   
}
.navbar-links li {
   list-style: none;    
   background-color: rgba(2, 0, 1, 0.1);   
}
.navbar-links li:hover {
    background-color: #232323; 
}
.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}
.toggle-button {
    margin-right: auto;
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.cl-intro {
    justify-content: center;
    align-items: center;
}
.following {
    display: flex;
    margin-top: 4rem;
    padding-top: 30px;
    padding-bottom: 30px;
}
.following h1 {
    margin-left: 1rem;
}
.text-div:nth-of-type(odd){
    background-color: rgba(54, 54, 54, 0.251);
    border-radius: 25px;
}
.intro-header {    
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
.intro-subtitle {
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
#intro {
    background-image: url(assets/myPic.jpg);    
    background-size: contain;      
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position-y: top;
    background-position-x: left;
    background-color: rgba(22, 20, 21, 0.3);
    flex-direction: column;
    display: none;
    /*clip-path: polygon(3% 3%, 100% 0, 100% 100%, 0% 100%);*/    
}
#intro2 {
    display: flex;
    justify-content: space-around;
}

#my-content {
    flex-direction: column;
    text-align: center;
}
#myImage {
    background-image: url(assets/myPic.jpg);    
    background-size: cover;      
    background-repeat: no-repeat;
    background-attachment: local;    
    background-position-y: top;
    background-position-x: left;    
    width: 600px;
    height: 100vh;
    display: flex;
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }    
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links {
        display: none;        
        width: 100%;
    }
    .navbar-links ul {
        width: 100%;        
        flex-direction: column;
    }
    .navbar-links li {
        text-align: center;
    }
    .navbar-links li a {
        padding: 0.5rem 1rem;        
    }
    .navbar-links.active {
        display: flex;                
    }
    .parText p {
        padding: 0rem 0.75rem;
    }
    .following {
        padding-top: 125px;
    }
}
@media (max-width: 900px) {
    
    #intro {
        background-size: cover;
        display: flex;
    }
    #intro2 {
        display: none;
    }
}
@media (min-width: 600px) and (max-width: 900px){
    #intro {
        background-size: contain;
        background-position: center;
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    85% {
        opacity: 0.8;
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    85% {
        opacity: 0.8;
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
